<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>View / Edit Post</h2>

  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn">
  </form>

</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

  <label for="status"><b>Status</b></label>
  <select name="status">
    <option value="draft" <%= data.status === 'draft' ? 'selected' : '' %>>Draft</option>
    <option value="published" <%= data.status === 'published' ? 'selected' : '' %>>Published</option>
  </select>
  <br><br>

  <input type="submit" value="Update" class="btn">

</form>